.top-input{
    padding: 50px 0;
    max-width: 800px;
    margin: auto;
}
.bottom{
    display: flex;
    max-width: 800px;
    margin: auto;
}
.bottom-left{
    flex: 1;
    padding-right: 10px;
}
.bottom-right{
    flex: 1;
    padding-left: 10px;
    padding-top: 20px;
    
}